body {
  background: #ecf3f3;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translate3d(78vw, 54vh, 69px);
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(78vw, 54vh, 69px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.08;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: translate3d(44vw, 41vh, 55px);
  background: #d9a926;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translate3d(46vw, 11vh, 25px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(46vw, 11vh, 25px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.02;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  transform: translate3d(36vw, 46vh, 67px);
  background: #a3d926;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translate3d(20vw, 38vh, 100px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(20vw, 38vh, 100px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.84;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform: translate3d(10vw, 37vh, 25px);
  background: #26d997;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translate3d(33vw, 6vh, 11px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(33vw, 6vh, 11px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.69;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  transform: translate3d(13vw, 22vh, 35px);
  background: #d93826;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translate3d(32vw, 19vh, 8px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(32vw, 19vh, 8px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.92;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: translate3d(20vw, 46vh, 6px);
  background: #88d926;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translate3d(79vw, 4vh, 92px);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(79vw, 4vh, 92px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.22;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(3vw, 32vh, 48px);
  background: #2fd926;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translate3d(88vw, 28vh, 81px);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(88vw, 28vh, 81px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.37;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  transform: translate3d(13vw, 86vh, 26px);
  background: #2635d9;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translate3d(68vw, 22vh, 2px);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(68vw, 22vh, 2px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.29;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  transform: translate3d(77vw, 53vh, 82px);
  background: #62d926;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translate3d(26vw, 80vh, 15px);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(26vw, 80vh, 15px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.89;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(6vw, 54vh, 41px);
  background: #264ad9;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translate3d(43vw, 60vh, 74px);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(43vw, 60vh, 74px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.39;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: translate3d(65vw, 69vh, 54px);
  background: #d9d026;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translate3d(41vw, 1vh, 10px);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(41vw, 1vh, 10px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.85;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  transform: translate3d(63vw, 20vh, 38px);
  background: #97d926;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translate3d(76vw, 78vh, 9px);
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(76vw, 78vh, 9px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.65;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  transform: translate3d(22vw, 37vh, 13px);
  background: #d98826;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translate3d(27vw, 57vh, 69px);
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(27vw, 57vh, 69px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.04;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(68vw, 27vh, 34px);
  background: #d99726;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translate3d(37vw, 26vh, 50px);
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(37vw, 26vh, 50px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.09;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  transform: translate3d(89vw, 34vh, 91px);
  background: #a3d926;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translate3d(52vw, 34vh, 73px);
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(52vw, 34vh, 73px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.33;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: translate3d(86vw, 39vh, 65px);
  background: #d92653;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translate3d(12vw, 71vh, 22px);
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(12vw, 71vh, 22px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.11;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  transform: translate3d(1vw, 78vh, 24px);
  background: #4126d9;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translate3d(36vw, 50vh, 63px);
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(36vw, 50vh, 63px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.64;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(90vw, 58vh, 56px);
  background: #26d9a9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translate3d(84vw, 11vh, 21px);
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(84vw, 11vh, 21px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.01;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  transform: translate3d(23vw, 23vh, 34px);
  background: #26d944;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translate3d(71vw, 57vh, 83px);
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(71vw, 57vh, 83px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.28;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  transform: translate3d(17vw, 57vh, 32px);
  background: #c7d926;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translate3d(54vw, 7vh, 90px);
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(54vw, 7vh, 90px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.07;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: translate3d(14vw, 6vh, 32px);
  background: #b226d9;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    transform: translate3d(22vw, 63vh, 63px);
  }
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(22vw, 63vh, 63px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.89;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  transform: translate3d(48vw, 7vh, 59px);
  background: #26d956;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    transform: translate3d(64vw, 78vh, 24px);
  }
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(64vw, 78vh, 24px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.59;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  transform: translate3d(56vw, 57vh, 36px);
  background: #d926c1;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    transform: translate3d(54vw, 1vh, 61px);
  }
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(54vw, 1vh, 61px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.24;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  transform: translate3d(28vw, 2vh, 95px);
  background: #d92626;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    transform: translate3d(50vw, 43vh, 19px);
  }
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(50vw, 43vh, 19px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.65;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  transform: translate3d(61vw, 46vh, 81px);
  background: #d926c7;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    transform: translate3d(31vw, 1vh, 90px);
  }
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(31vw, 1vh, 90px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.03;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  transform: translate3d(60vw, 69vh, 61px);
  background: #d96826;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    transform: translate3d(81vw, 89vh, 63px);
  }
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(81vw, 89vh, 63px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.27;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  transform: translate3d(77vw, 8vh, 94px);
  background: #26d98e;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    transform: translate3d(29vw, 47vh, 25px);
  }
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(29vw, 47vh, 25px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.27;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  transform: translate3d(88vw, 71vh, 46px);
  background: #c4d926;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    transform: translate3d(84vw, 42vh, 62px);
  }
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(84vw, 42vh, 62px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.79;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  transform: translate3d(14vw, 55vh, 54px);
  background: #d93526;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    transform: translate3d(90vw, 70vh, 19px);
  }
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(90vw, 70vh, 19px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.23;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  transform: translate3d(22vw, 60vh, 13px);
  background: #d926d9;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    transform: translate3d(44vw, 16vh, 5px);
  }
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(44vw, 16vh, 5px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.16;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  transform: translate3d(32vw, 27vh, 75px);
  background: #d926d6;
}