<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration</title>
<link rel="stylesheet" th:href="@{/css/gradient.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/}">
				Todo Login Page
				</a>
			</div>
		</div>
	</nav>

<br>
<br>
	<!-- Create HTML registration form -->
	<div class="container" style="background-color: rgba(255, 255, 255, .15); backdrop-filter: blur(5px); height: 660px; width: 800px; position: fixed; top: 20%; left: 28%;">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">
					You've successfully registered!</div>
				</div>

				<br><h1> Todo Registration</h1><br><br>

				<form th:action="@{/registration}" method="post" th:object="${user}">
					<div class="form-group">
						<label class="control-label" for="firstname"> First Name </label>
						<input id="firstname" class="form-control" th:field="*{firstname}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="lastname"> Last Name </label> <input
							id="lastname" class="form-control" th:field="*{lastname}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="username"> Username </label> <input
							id="username" class="form-control" th:field="*{username}" required
							autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="password"> Password </label> <input
							id="password" class="form-control" type="password"
							th:field="*{password}" required autofocus="autofocus" />
					</div><br><br><br>

					<div class="form-group">
					<div class="row">
					<div class="col-sm-6">
						<button type="submit" class="btn btn-success" style="width: 370px;">Register</button>
						<br><br>
					</div>
					<div class="col-md-8" style="left: 19%;">
						<h5> Already registered? <a href="/" th:href="@{/login}">Login
								here</a></h5>
					</div>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>